<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="assets/css/reset.css" rel="stylesheet">
        <link href="assets/css/vars.css"  rel="stylesheet">
        <link href="assets/css/nerd-fonts.css"  rel="stylesheet">
        <link href="assets/css/main.css"  rel="stylesheet">
    </head>
    <body>
    {{ content | safe }}
    </body>
</html>
